* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  padding: 15px 15px;
  display: flex;
  justify-content: center;
  gap: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
  width: 100%;
  background-color: #3a3b3c;
}

nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: all 0.3s ease;
}

nav a:hover {
  transform: scale(1.2)
}

.registerForm,
.loginForm {
  display: grid;
  max-width: 300px;
  max-height: 500px;
  justify-content: center;
  align-items: center;
  background-color: #3a3b3c;
  padding: 20px;
  margin: 0 auto;
  border-radius: 8px;
  gap: 10px;
}