* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
  justify-content: center;
  gap: 30px;
}

.cardContainer {
  display: grid;
  gap: 50px;
}

.card {
  display: grid;
  gap: 20px;
  padding: 10px 10px;
  background-color: #3a3b3c;
  border-radius: 8px;
}

nav {
  padding: 15px 15px;
  display: flex;
  justify-content: center;
  gap: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
  width: 100%;
  background-color: #3a3b3c;
}

nav .navProfile {
  display: flex;
  align-items: center;
  gap: 10px;
}

nav .navFirst {
  display: flex;
  align-items: center;
  gap: 30px;
}

nav .navSecond {
  display: flex;
  align-items: center;
  gap: 30px;
}

nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: all 0.3s ease;
}

nav a:hover {
  transform: scale(1.2)
}

.registerForm,
.loginForm {
  display: grid;
  max-width: 300px;
  max-height: 500px;
  justify-content: center;
  align-items: center;
  background-color: #3a3b3c;
  padding: 20px;
  margin: 0 auto;
  border-radius: 8px;
  gap: 10px;
  margin-top: 200px;
}

.labelinput {
  display: grid;
}

.loginForm label,
.registerForm label {
  width: 250px;
}

.loginregister {
  display: flex;
  gap: 30px;
}

.registerForm input,
.loginForm input {
  background-color: #1C1C1D;
  border: none;
  padding: 5px;
  color: white;
  border-radius: 4px;
}

.registerForm button,
.loginForm button {
  background-color: #1C1C1D;
  padding: 5px;
  border: none;
  color: white;
  border-radius: 4px;
  transition: 0.3s;
}

.registerForm button:hover,
.loginForm button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.profileImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.cardHeader {
  display: flex;
  align-items: center;
  gap: 5px;
}

.date {
  font-size: 10px;

}

.content {
  border: 1px solid white;
  max-height: 200px;
  background-color: #1C1C1D;
  padding: 5px 5px;
}

.addpostBtn {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
  background-color: #3a3b3c;
  width: 100px;
  text-align: center;
  padding: 2px 0;
  border-radius: 8px;
}

.addpostBtn:hover {
  transform: scale(1.1);
}

.search {
  outline: none;
  border: none;
  background-color: #3a3b3c;
  padding: 6px 8px;
  border-radius: 8px;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}

.search:hover {
  transform: scale(1.1);
}

.profile {
  display: flex;
  justify-content: space-evenly;
}

.changeName button {
  height: 20px;
  width: 100px;
  background-color: #1C1C1D;
  border: none;
  border-radius: 8px;
  margin: 0 auto;
  color: white;
  margin-left: 20px;
  transition: 0.3s;
}

.changeName button:hover {
  transform: scale(1.1);
}

.changeName input {
  background-color: #1C1C1D;
  border: none;
  outline: none;
  color: white;
  padding: 5px 5px;
  border-radius: 8px;
}

.changeImage {
  margin: 0 auto;
  width: 200px;
}

.changeImage::file-selector-button {
  background-color: #1C1C1D;
  border: none;
  padding: 5px 5px;
  color: white;
  cursor: pointer;
}

.myProfile {
  margin-top: 50px;
  display: grid;

  border-radius: 8px;
  padding: 20px;
  gap: 20px;
  background-color: #3a3b3c;
}

.myProfile img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.myProfile input {
  height: 25px;
}

.editPost {
  display: flex;

  justify-content: space-evenly;
}

.editPost button {
  width: 80px;
  background-color: #1C1C1D;
  border: none;
  color: white;
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
}

.profileCard img {
  display: block;
  margin: 0 auto;
}

.profileCard {
  width: 300px;
}

.addPostContainer {
  background-color: #3a3b3c;
  width: 300px;


  margin: 0 auto;
}

.addPostContainer form {
  display: grid;
  padding: 50px;
  justify-content: center;
  gap: 10px;
}

.addPostContainer input,
textarea {
  background-color: #1C1C1D;
  color: white;
  border: none;
  padding: 5px;
  overflow: hidden;
  word-wrap: break-word;
  width: 100%;
  border-radius: 4px;
}

.addPostContainer textarea {
  height: 150px;
  resize: none;
}

.addPostContainer input::file-selector-button {
  background-color: #3a3b3c;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.addPostContainer button {
  background-color: #1C1C1D;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 5px;
  transition: 0.3s;
}

.addPostContainer button:hover {
  transform: scale(1.1);
  cursor: pointer;
}